<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Shooping mall</title>
    <link rel="shortcut icon" href="IMG/logo.png" type="image/x-icon">


    <%- include('./layout/header'); -%>
        <style>
            .seach_field {
                text-align: center;
                padding: 10px;

            }

            .seach_field span {
                text-transform: capitalize;
            }
        </style>

</head>

<body>
    <%- include('./layout/top-nav', { isAdmin: isAdmin , totalcount: totalcount}) -%>

        <div class="general_message">
            <%- include('messages', {alert}) %>
        </div>
        <br>
        <br>
        <br>
        <br>

        <section class="seach_field">
            <br>
            <br>
            <% if (products && products.length> 0) { %>
                <h2>Results for: <span class="primspan">
                        <%= query %>
                    </span> </h2>
                <div class="pro-container">
                    <!-- views/products.ejs -->

                    <% products.forEach((product)=> { %>
                        <div class="pro search_pro">
                            <a href="/product-detail/<%= product._id %>">
                                <img src="/uploads/<%= product.Image %>" alt="" id="search_img">
                                <div class="des">
                                    <span>
                                        <%= product.Brand %>
                                    </span>
                                    <h5>
                                        <%= product.Title %>
                                    </h5>
                                    <div class="star">
                                        <% for (let i=0; i < product.Rate; i++) { %>
                                            <i class="fas fa-star"></i>
                                            <% } %>
                                    </div>
                                    <h4>Price:Ghc <%= product.Price.toLocaleString() %>
                                    </h4>
                                </div>
                            </a>
                            <form action="/add-cart" method="post">
                                <input type="hidden" name="product_id" value="<%= product._id %>">
                                <button type="submit"><i class="fa fa-shopping-cart"></i></button>
                            </form>

                        </div>
                    <% }); %>
            <% } else { %>
                                <h3>No Results Foung for : <span class="primspan">
                                        <%= query %>
                                    </span> </h3>
             <% } %>




                </div>

        </section>

        <%- include('./layout/down-nav', { isAdmin: isAdmin, totalcount: totalcount }); -%>



            <script src="main.js"></script>

</body>

</html>